apiVersion : apps/v1beta1
kind: Deployment
metadata:
  name: userapi 
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: userapi 
    spec:
      containers:
        - name: userapi 
          image: zydusfrontlinecontainerregistry.azurecr.io/userapi
          ports:
          - containerPort: 80
